*{
	margin: 0;
	padding: 0;
}
#ball {
	width: 550px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
}
.tag_base{
	width: 60px;
	height: 20px;
	font-size: 20px;
	color: red;
	text-align: center;
	text-decoration: none;
	background-color: orange;
	display: block;
	position: absolute;
}